<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="springmvc.dao.WfiWorkflow2bizDao">

    <resultMap id="BaseResultMap" type="WfiWorkflow2biz">
        <id column="pk1" property="pk1"/>
        <result column="appl_type" property="applType"/>
        <result column="wfsign" property="wfsign"/>
        <result column="wfname" property="wfname"/>
        <result column="app_url" property="appUrl"/>
        <result column="biz_url" property="bizUrl"/>
        <result column="prevent_list" property="preventList"/>
        <result column="scene_scope" property="sceneScope"/>
        <result column="remark" property="remark"/>
        <result column="deal_url" property="dealUrl"/>
    </resultMap>
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <select id="getWfiWorkflow2bizList" resultType="WfiWorkflow2biz" parameterType="java.util.Map">
        select pk1,appl_type from WfiWorkflow2biz
        <where>
            <if test="appl_type!=null">
                and appl_type like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <!-- select元素:专门用来做写查询的SQL. -id属性:唯一标识,用来表示某一条SQL语句 id属性和mapper的namespace唯一的表示了应用中的某一条SQL语句
        -parameterType属性:表示执行该SQL语句需要的参数的类型,建议不写,MyBatis可以自行推断出来.
		-resultType属性:把结果集中的每一行数据封装成什么类型的对象 -->
    <select id="getWfiWorkflow2biz" parameterType="java.lang.String" resultMap="BaseResultMap">
		select *  from Wfi_Workflow2biz WHERE appl_type = #{appl_type}
	</select>

    <!-- 保存操作
		insert元素:
			useGeneratedKeys属性:是否需要返回自动生成的主键
			keyProperty:把自动生成的主键值设置到对象的哪一个属性上(OID)
	 -->
    <insert id="addWfiWorkflow2biz" useGeneratedKeys="true" keyProperty="id"
            parameterType="WfiWorkflow2biz">
		INSERT INTO WfiWorkflow2biz (id,name) VALUES(#{id},#{name})
	</insert>

    <!-- 更改操作 -->
    <update id="updateWfiWorkflow2biz" parameterType="WfiWorkflow2biz">
		UPDATE WfiWorkflow2biz SET id= #{id} ,name = #{name} WHERE id = #{id}
	</update>

    <!-- 删除操作 -->
    <delete id="deleteWfiWorkflow2biz" parameterType="java.lang.Integer">
		DELETE FROM WfiWorkflow2biz WHERE id = #{id}
	</delete>
</mapper>